<div>
  <div class="rel">
    <h4>RELATED PRODUCTS</h4>
    <p style="color: gray; cursor: pointer">View More</p>
  </div>
  <hr style="height: 10px; background: black" />
  <div class="rimg">
    <div class="rel-img card">
      <a href="../Rel-1.html"
        ><img
          src="assets/Related Images/1/1.1.webp"
          alt=""
          class="reli img rel-link"
      /></a>
      <h6 style="margin-top: 25px; color: rgb(66, 60, 60)">Corgo Pants</h6>
      <h2 class="dis">-60%</h2>
      <h3 style="display: inline"><sup> ₹</sup>399</h3>
      <h6>M.R.P : <s>₹999</s></h6>
    </div>
    <div class="rel-img card">
      <a href="../Rel-2.html"
        ><img
          src="assets/Related Images/1/1.2.webp"
          alt=""
          class="reli img rel-link"
      /></a>
      <h6 style="margin-top: 25px; color: rgb(66, 60, 60)">Casual Shoes</h6>
      <h2 class="dis">-42%</h2>
      <h3 style="display: inline"><sup> ₹</sup>499</h3>
      <h6>M.R.P : <s>₹699</s></h6>
    </div>
    <div class="rel-img card">
      <a href="../Rel-3.html"
        ><img
          src="assets/Related Images/1/1.3.webp"
          alt=""
          class="reli img rel-link"
      /></a>
      <h6 style="margin-top: 25px; color: rgb(66, 60, 60)">
        Traditional Kurtha
      </h6>
      <h2 class="dis">-44%</h2>
      <h3 style="display: inline"><sup> ₹</sup>899</h3>
      <h6>M.R.P : <s>₹1599</s></h6>
    </div>
    <div class="rel-img card">
      <a href="../Rel-4.html"
        ><img
          src="assets/Related Images/1/1.4.webp"
          alt=""
          class="reli img rel-link"
      /></a>
      <h6 style="margin-top: 25px; color: rgb(66, 60, 60)">Denim Jacket</h6>
      <h2 class="dis">-48%</h2>
      <h3 style="display: inline"><sup> ₹</sup>1299</h3>
      <h6>M.R.P : <s>₹2499</s></h6>
    </div>
  </div>

  <!-- Carousel -->
  <div
    id="carouselExampleControls"
    class="carousel slide col-md-3"
    data-bs-ride="carousel"
  >
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="rel-img">
          <a href="../Rel-1.html"
            ><img
              src="assets/Related Images/1/1.1.webp"
              alt=""
              class="reli img rel-link"
          /></a>
          <h6 style="margin-top: 25px; color: rgb(66, 60, 60)">Corgo Pants</h6>
          <h2 class="dis">-60%</h2>
          <h3 style="display: inline"><sup> ₹</sup>399</h3>
          <h6>M.R.P : <s>₹999</s></h6>
        </div>
      </div>
      <div class="carousel-item">
        <div class="rel-img">
          <a href="../Rel-2.html"
            ><img
              src="assets/Related Images/1/1.2.webp"
              alt=""
              class="reli img rel-link"
          /></a>
          <h6 style="margin-top: 25px; color: rgb(66, 60, 60)">Casual Shoes</h6>
          <h2 class="dis">-42%</h2>
          <h3 style="display: inline"><sup> ₹</sup>499</h3>
          <h6>M.R.P : <s>₹699</s></h6>
        </div>
      </div>
      <div class="carousel-item">
        <div class="rel-img">
          <a href="../Rel-3.html"
            ><img
              src="assets/Related Images/1/1.3.webp"
              alt=""
              class="reli img rel-link"
          /></a>
          <h6 style="margin-top: 25px; color: rgb(66, 60, 60)">
            Traditional Kurtha
          </h6>
          <h2 class="dis">-44%</h2>
          <h3 style="display: inline"><sup> ₹</sup>899</h3>
          <h6>M.R.P : <s>₹1599</s></h6>
        </div>
      </div>
      <div class="carousel-item">
        <div class="rel-img">
          <a href="../Rel-4.html"
            ><img
              src="assets/Related Images/1/1.4.webp"
              alt=""
              class="reli img rel-link"
          /></a>
          <h6 style="margin-top: 25px; color: rgb(66, 60, 60)">Denim Jacket</h6>
          <h2 class="dis">-48%</h2>
          <h3 style="display: inline"><sup> ₹</sup>1299</h3>
          <h6>M.R.P : <s>₹2499</s></h6>
        </div>
      </div>
    </div>
    <button
      class="carousel-control-prev"
      type="button"
      data-bs-target="#carouselExampleControls"
      data-bs-slide="prev"
    >
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button
      class="carousel-control-next"
      type="button"
      data-bs-target="#carouselExampleControls"
      data-bs-slide="next"
    >
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>
