<div class="container2">
    <div class="video-size">
      <video autoplay loop controls muted id="myVideo"><source src="assets/virat.mp4" type="video/mp4"></video>

  </div>  
</div>
    
      <div class="container1">
        
          <!-- <div class="video-size">
          <video autoplay loop controls muted id="myVideo"><source src="../WhatsApp Video 2024-06-28 at 3.31.23 PM.mp4"></video>
  
      </div>   -->
      
          <div class="row">
            
              <div class="col-md-3">
                  <div class="card  border-dark mb-3"  >
                      
                      
                      <div class="card-body">
                           <div id="carouselExample" class="carousel slide">
                              <a href="product_display_2.html">
                                <div class="carousel-inner">
                                <div class="carousel-item active">
                                  <img src="assets/b1.jpg" class="d-block w-100" alt="...">
                                </div>
                                <div class="carousel-item">
                                 <img src="assets/b2.jpg" class="d-block w-100" alt="...">
                                </div>
                              </div></a>
                              <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="false"></span>
                                <span class="visually-hidden">Previous</span>
                              </button>
                              <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="false"></span>
                                <span class="visually-hidden">Next</span>
                              </button>
                            </div>
                          
                          <h6 class="card-title">Men Collard Formal Shirt</h6>
                          <!-- <p class="card-text">| Collar Tshirts | Half Sleeves | Plain</p> -->
                          <h6>&#8377;1499</h6>
                          
                          
                          
                          
                      </div>
                  </div>
              </div>
              <div class="col-md-3">
                  <div class="card  border-dark mb-3" >
                      
                      <div class="card-body">
                          <div id="carouselExample2" class="carousel slide">
                              <a href="product_display_1.html">
                                <div class="carousel-inner">
                                  <div class="carousel-item active">
                                    <img src="assets/c1.jpeg" class="d-block w-100" alt="...">
                                  </div>
                                  <div class="carousel-item">
                                    <img src="assets/c2.jpeg" class="d-block w-100" alt="...">
                                  </div>
                                </div>
                              </a>
                              <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample2" data-bs-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="false"></span>
                                <span class="visually-hidden">Previous</span>
                              </button>
                              <button class="carousel-control-next" type="button" data-bs-target="#carouselExample2" data-bs-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="false"></span>
                                <span class="visually-hidden">Next</span>
                              </button>
                            </div>
                          <h6 class="card-title">Semi-Stiched Lehanga Choli</h6>
                          
                          <h6>&#8377;1299</h6>
                          
                      </div>
                  </div>
              </div>
              <div class="col-md-3">
                  <div class="card  border-dark mb-3"  >
                      
                      <div class="card-body">
                          <div id="carouselExample3" class="carousel slide">
                              <a href="product_display_4.html">
                                <div class="carousel-inner">
                                  <div class="carousel-item active">
                                    <img src="assets/g1.jpg" class="d-block w-100" alt="...">
                                  </div>
                                  <div class="carousel-item">
                                    <img src="assets/g2.jpg" class="d-block w-100" alt="...">
                                  </div>
                                </div>
                              </a>
                              <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample3" data-bs-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="false"></span>
                                <span class="visually-hidden">Previous</span>
                              </button>
                              <button class="carousel-control-next" type="button" data-bs-target="#carouselExample3" data-bs-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="false"></span>
                                <span class="visually-hidden">Next</span>
                              </button>
                            </div>
                          <h6 class="card-title">Mid Rise Joggers For Men</h6>
                          
                          <h6>&#8377;499</h6>
                          
                      </div>
                  </div>
              </div>
              <div class="col-md-3">
                <div class="card  border-dark mb-3"  >
                    
                    <div class="card-body">
                        <div id="carouselExample4" class="carousel slide">
                            <a href="product_display_7.html">
                              <div class="carousel-inner">
                                <div class="carousel-item active">
                                  <img src="assets/a1.jpg" class="d-block w-100" alt="...">
                                </div>
                                <div class="carousel-item">
                                  <img src="assets/a2.jpg" class="d-block w-100" alt="...">
                                </div>
                              </div>
                            </a>
                            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample4" data-bs-slide="prev">
                              <span class="carousel-control-prev-icon" aria-hidden="false"></span>
                              <span class="visually-hidden">Previous</span>
                            </button>
                            <button class="carousel-control-next" type="button" data-bs-target="#carouselExample4" data-bs-slide="next">
                              <span class="carousel-control-next-icon" aria-hidden="false"></span>
                              <span class="visually-hidden">Next</span>
                            </button>
                          </div>
                        <h6 class="card-title">Polo Collard T-Shirt For Men</h6>
                        
                        <h6>&#8377;349</h6>
                       
                    </div>
                </div>
            </div>
              <div class="col-md-3">
                  <div class="card  border-dark mb-3"  >
                      
                      <div class="card-body">
                          <div id="carouselExample5" class="carousel slide">
                              <a href="product_display_5.html">
                                <div class="carousel-inner">
                                  <div class="carousel-item active">
                                    <img src="assets/d1.jpg" class="d-block w-100" alt="...">
                                  </div>
                                  <div class="carousel-item">
                                    <img src="assets/d2.jpg" class="d-block w-100" alt="...">
                                  </div>
                                </div>
                              </a>
                              <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample5" data-bs-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="false"></span>
                                <span class="visually-hidden">Previous</span>
                              </button>
                              <button class="carousel-control-next" type="button" data-bs-target="#carouselExample5" data-bs-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="false"></span>
                                <span class="visually-hidden">Next</span>
                              </button>
                            </div>
                          <h6 class="card-title">Graphic Print Collection Tee</h6>
                          
                          <h6>&#8377;359</h6>
                         
                      </div>
                  </div>
              </div>
              <div class="col-md-3">
                  <div class="card  border-dark mb-3"  >
                      
                      <div class="card-body">
                          <div id="carouselExample6" class="carousel slide">
                              <a href="product_display_3.html">
                                <div class="carousel-inner">
                                  <div class="carousel-item active">
                                    <img src="assets/e1.jpg" class="d-block w-100" alt="...">
                                  </div>
                                  <div class="carousel-item">
                                    <img src="assets/e2.jpg" class="d-block w-100" alt="...">
                                  </div>
                                </div>
                              </a>
                              <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample6" data-bs-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="false"></span>
                                <span class="visually-hidden">Previous</span>
                              </button>
                              <button class="carousel-control-next" type="button" data-bs-target="#carouselExample6" data-bs-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="false"></span>
                                <span class="visually-hidden">Next</span>
                              </button>
                            </div>
                          <h6 class="card-title">Graphic T-Shirt For Women</h6>
                          
                          <h6>&#8377;399</h6>
                          
                      </div>
                  </div>
              </div>
              <div class="col-md-3">
                  <div class="card  border-dark mb-3"  >
                      
                      <div class="card-body">
                          <div id="carouselExample7" class="carousel slide">
                              <a href="product_display_6.html">
                                <div class="carousel-inner">
                                  <div class="carousel-item active">
                                    <img src="assets/i1.jpg" class="d-block w-100" alt="...">
                                  </div>
                                  <div class="carousel-item">
                                    <img src="assets/i2.jpg" class="d-block w-100" alt="...">
                                  </div>
                                </div>
                              </a>
                              <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample7" data-bs-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="false"></span>
                                <span class="visually-hidden">Previous</span>
                              </button>
                              <button class="carousel-control-next" type="button" data-bs-target="#carouselExample7" data-bs-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="false"></span>
                                <span class="visually-hidden">Next</span>
                              </button>
                            </div>
                          <h6 class="card-title">Women's Oversized Tee</h6>
                        
                          <h6>&#8377;549</h6>
                          
                      </div>
                  </div>
              </div>
              <div class="col-md-3">
                <div class="card  border-dark mb-3"  >
                    
                    <div class="card-body">
                        <div id="carouselExample8" class="carousel slide">
                            <a href="product_display_8.html">
                              <div class="carousel-inner">
                                <div class="carousel-item active">
                                  <img src="assets/h1.jpg" class="d-block w-100" alt="...">
                                </div>
                                <div class="carousel-item">
                                  <img src="assets/h2.jpg" class="d-block w-100" alt="...">
                                </div>
                              </div>
                            </a>
                            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample8" data-bs-slide="prev">
                              <span class="carousel-control-prev-icon" aria-hidden="false"></span>
                              <span class="visually-hidden">Previous</span>
                            </button>
                            <button class="carousel-control-next" type="button" data-bs-target="#carouselExample8" data-bs-slide="next">
                              <span class="carousel-control-next-icon" aria-hidden="false"></span>
                              <span class="visually-hidden">Next</span>
                            </button>
                          </div>
                        <h6 class="card-title"> A-Line Flared Kurta </h6>
                        
                        <h6>&#8377;1199</h6>
                        
                    </div>
                </div>
            </div>
          
              
              
      </div>
     
 
