*{
    padding: 0;
    margin:0;
}
.card{
    width:215px;
    height:360px;
    font-size:small;
    font-weight:bolder;
    margin: 20px;
    text-align: center;
    }
.card-img-top {
    height: 200px;
    
}
.card-title{
    padding-top: 20px;
    padding-bottom: 5px;
}


.container1{
  margin-left: 70px;
  padding-left: 40px;
  padding-top:100px;
  padding-bottom: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
  /* border: 3px solid red ; */
  
}






.img{
transition: 3s;
transition-timing-function: ease-out;
}
.card:hover{
transform: scale(1.05);
transition-timing-function: ease-out;
}


 #myVideo {
   padding-top:70px;
   margin-top: 50px;
   width: 15%;
   height: 850px; 
   object-fit: cover; 
   float: left; 



} 
/* extra small screen */
@media (max-width: 575px) {
  #myVideo {
    display: none;
}
  
}

/*small devices*/
@media (min-width: 576px) and (max-width: 767px) {
  #myVideo {
      display: none;
  }
  .container1 {
   
    margin-left: 25%;
    padding-left: 0;
    align-items: center;
    gap:25px;
    flex-wrap:wrap;

}
.card{
  margin-left: 10px;
  margin-right: 10px;
}
}

/*medium sized devices*/
@media (min-width: 768px) and (max-width: 991px){
  
  .container1 {
    
    margin-left: 15%;
    padding-left: 0;
    align-items: center;
    gap: 25px;
    flex-wrap:wrap;
    
    
}
.card{
  width:165px;
  height:320px;
  margin-left: 10px;
  margin-right: 10px;
}
}
/*large devices */
@media (min-width: 992px) and (max-width: 1199px){
  .container1{
    
    margin-left: 15%;
    padding-left: 0;
    align-items: center;
    gap: 25px;
    flex-wrap:wrap;
   
  }
  .card{
    width:215px;
    height:355px;
    margin-left: 10px;
    margin-right: 10px;
  }
}





