<div class="row">
  <!-- <div class="col-md-1 col-sm-1 col-lg-0"></div> -->
  <div class="mi col-lg-5 col-md-11 col-11">
    <div class="card my-1">
      <img class="img-fluid w-100" src="assets/Images/2/1.jpg" alt="" />
    </div>
    <div class="small-img">
      <img src="assets/Images/2/2.jpg" alt="" class="small img1 card" />
      <img src="assets/Images/2/3.jpg" alt="" class="small img2 card" />
      <img src="assets/Images/2/4.jpg" alt="" class="small img3 card" />
      <img src="assets/Images/2/5.jpg" alt="" class="small img4 card" />
    </div>
  </div>
  <div class="m1 col-lg-6 col-md-10 col-sm-10">
    <h4 style="color: rgb(157, 159, 159)">Blue Martin</h4>
    <h1>Men Collared Casual Formal Soild Shirt</h1>
    <h2 class="dis">-50%</h2>
    <h3 style="display: inline"><sup> ₹</sup>1499.00</h3>
    <p>M.R.P :<s>₹3000.00</s><br />Inclusive of all taxes.</p>
    <form action="">
      <div class="size">
        <!-- Select Size : -->
        <div class="rad">
          <input class="rad1" type="radio" id="small" name="Size" /><label
            for="small"
            >S</label
          >
        </div>
        <div class="rad">
          <input class="rad1" type="radio" id="medium" name="Size" /><label
            for="medium"
            >M</label
          >
        </div>
        <div class="rad">
          <input class="rad1" type="radio" id="large" name="Size" /><label
            for="large"
            >L</label
          >
        </div>
        <div class="rad">
          <input class="rad1" type="radio" id="xlarge" name="Size" /><label
            for="xlarge"
            >XL</label
          >
        </div>

        <div class="rad2">
          <input type="number" value="1" name="" id="nm" min="1" max="12" />
        </div>
      </div>
    </form>
    <div class="icn">
      <i class="icn-1 fa-regular fa-heart"></i>
      <i class="icn-1 fa-regular fa-share-from-square"></i>
      <!-- <i class="icn-1 fa-solid fa-triangle-exclamation"></i> -->
    </div>
    <div class="b1">
      <button
        type="button"
        class="btn btn-secondary pd_btn"
        style="display: inline"
      >
        Buy Now
      </button>
      <button
        type="button"
        class="btn btn-secondary pd_btn"
        style="display: inline"
      >
        Add to Cart
      </button>
    </div>
    <h4>Product Description</h4>
    <div class="p">
      Solid shirts are easily matched with different bottoms, such as jeans,
      chinos, or shorts, making them suitable for various outfits. Short-sleeve
      shirts are perfect for layering with jackets or sweaters during cooler
      weather or for creating stylish looks. Solid short-sleeve shirts serve as
      go-to options for days when you need a quick and stylish outfit without
      much fuss.
    </div>
  </div>
</div>
<div class="b2">
  <button
    type="button"
    class="btn btn-secondary pd_btn"
    style="display: inline"
  >
    Buy Now
  </button>
  <button
    type="button"
    class="btn btn-secondary pd_btn"
    style="display: inline"
  >
    Add to Cart
  </button>
</div>
<!-- <div class="col-1"></div>  -->
